<!DOCTYPE html>
<head>

    <title>{% block title %}{% endblock %} - AnonPost</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/ico">
    <!-- Bootstrap CSS/JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- jquery from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    {% if g.admin %}
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">{{ self.title() }}</a></li>
            <li role="presentation"><a href="/admin?status=unset">Unmoderated</a></li>
            <li role="presentation"><a href="/dashboard">Dashboard</a></li>
            <li role="presentation"><a href="/adminoff">Admin Off</a></li>
        </ul>
    {% endif %}
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>